@import "tailwindcss";

@theme {
  --color-wc-blue: #0a192f;
  --color-wc-gold: #d4af37;
}

body {
  background-color: var(--color-wc-blue);
  color: white;
  overflow-x: hidden;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes fall {
  0% {
    transform: translateY(-20px) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(600px) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
}